@import 'tailwindcss';

/* Change blur level */
.blob-wrapper {
  filter: url(#blurMe) blur(80px);
}

/* Animation styles */
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-move0 {
  transform-origin: center center;
  animation: moveVertical 30s linear infinite;
}

.animate-move1 {
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

.animate-move2 {
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 40s linear infinite;
}

.animate-move3 {
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 40s ease infinite;
}

.animate-move4 {
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s ease infinite;
}
